{# home.html.twig #}
{% extends 'layout.html.twig' %}

{% block title%}
	{{ parent() }}-Acceuil
{% endblock %}

{% block nav %}
	<ul>
		<h1>List Products :</h1>
		{% for product in products %}
			<li>
				<a>{{ product }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
